@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 500;
}

body {
  font-family: "Playfair Display", serif;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Background */
.background_right {
  width: 50vw;
  height: 100vh;
  position: absolute;
  right: 0;
  z-index: -100;
  pointer-events: none;
}

.background_round {
  width: 540px;
  height: 540px;
  position: absolute;
  top: 110px;
  left: -270px;
  z-index: -100;
}

/* corner */
.corner-line {
  width: 125px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
}

.logo {
  position: absolute;
  top: 5%;
}

/* Nav */
.nav-button-container {
  display: flex;
  width: 100%;
  height: 10%;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  /* max-width: 1800px; */
  padding: 0 5%;
}
.nav-button-container .nav-line-button {
  height: 100%;
  display: flex;
  align-items: center;
}
.nav-button-container .nav-line-button .corner-line {
  width: 70px;
}
.nav-button-container .nav-line-button .prev-btn,
.nav-button-container .nav-line-button .next-btn {
  border: none;
  color: #aaa;
  text-decoration: underline;
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;
  margin: 0 5px;
}

/* links (left) */
.links-container {
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.links-container .links {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* 순서 바뀌면 또 결과가 달라지네? */
  transform: translateY(200px) rotate(270deg);
}

.links-container .links li {
  list-style-type: none;
  margin-right: 40px;
}
.links-container .links li a {
  text-decoration: underline;
  color: black;
  font-size: 13px;
  font-weight: 600;
}
.links-container .links .corner-line {
  width: 150px;
  height: 1px;
  background-color: black;
  position: absolute;
  /* transform: translateY(500%); */
}

/* bottom */
.bottom-container {
  width: 50%;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 50px;
  left: 0;
  padding: 0 10%;
  justify-content: space-between;
}

.bottom-container .design-info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
}
.bottom-container .design-info .corner-line {
  width: 180px;
  margin: 0 20px;
  transform: translateY(3px);
}

/* right container */
.right-container {
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}

.right-container .pages {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 20%;
}
.right-container .pages li {
  list-style-type: none;
  margin: 10px 0;
}
.right-container .pages li .page.current {
  font-size: 50px;
}
.right-container .pages li .corner-line {
  width: 2px;
  height: 125px;
  background-color: rgba(0, 0, 0, 0.7);
}

/* see all button */
.seeAll-btn {
  position: absolute;
  bottom: 50px;
  border: none;
  color: #aaa;
  text-decoration: underline;
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;
}

/* container (center context) */
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: -100;
}

.container .left-side {
  width: 50%;
  height: 100%;
  position: relative;
}

.container .left-side h1 {
  font-size: 80px;
  display: inline-block;
  transform: translate(150px, 200px);
}

.container .left-side .corner-line {
  background-color: black;
  position: absolute;
  bottom: 400px;
  right: -50px;
  width: 300px;
  margin-bottom: 20px;
}

.container .left-side .description {
  width: 200px;
  height: 300px;
  position: absolute;
  bottom: 100px;
  right: 50px;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
}

.container .left-side .current-line {
  width: 200px;
  position: absolute;
  bottom: 50px;
  right: 50px;
  font-size: 20px;
  font-weight: 500;
}

.container .right-side {
  width: 45%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .right-side img {
  height: 100%;
  width: 60%;
  max-width: 600px;
  position: absolute;
}
.container .right-side .right-image {
  height: 80%;
  width: auto;
}
.container .right-side .rectangle {
  width: 90%;
}

@media (max-width: 1600px) {
  .background_round {
    width: 480px;
    height: 480px;
    left: -240px;
  }

  /* coll. N'1 */
  .container .left-side .current-line {
    width: auto;
  }
}

@media (max-width: 1200px) {
  .background_round {
    width: 360px;
    height: 360px;
    left: -150px;
  }

  /* left side */
  .container .left-side {
    width: 50%;
    height: 100%;
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 150px;
  }

  .container .left-side h1 {
    width: fit-content;
    font-size: 60px;
    transform: translate(0);
    margin-bottom: 70px;
  }

  .container .left-side .corner-line {
    background-color: black;
    position: static;
    width: 370px;
  }

  .container .left-side .description {
    width: 300px;
    height: 300px;
    position: static;
    font-size: 13px;
    line-height: 25px;
  }

  .container .left-side .current-line {
    position: static;
  }

  /* right side */
  .container .right-side {
    width: 45%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container .right-side .right-image {
    height: 60%;
    width: auto;
  }
}
