@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  /* font-family: sans-serif; */
  width: 100%;
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.catalogue-image {
  position: absolute;
  z-index: -100;
}

/* corner line */
.corner {
  width: 250px;
  height: 2px;
  background-color: rgba(95, 158, 160, 0.2);
  position: absolute;
}
.corner.top {
  top: 5%;
}
.corner.left {
  left: 5%;
}
.corner.bottom {
  bottom: 5%;
}
.corner.right {
  right: 5%;
}

.logo {
  position: absolute;
  top: 5%;
}

/* Nav */
.navigation {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 5%;
}

.navigation .links {
  display: flex;
}

.navigation .links li {
  list-style-type: none;
  transform: rotate(270deg);
}
.navigation .links li a {
  text-decoration: underline;
  color: black;
  font-weight: 600;
}
.link-corner {
  width: 200px;
  height: 2px;
  background-color: black;
}

/* Container */
.container {
  width: 80%;
  height: 70%;
  display: flex;
  flex-direction: column;
  /*지워야함 */
  /* border: 3px solid brown; */
}

.container .top-side,
.container .bottom-side {
  width: 100%;
  height: 50%;
  display: flex;
}

.container .bottom-side {
  flex-direction: row-reverse;
}

.container .line-container {
  width: 100%;
  height: 100%;
  display: flex;
}

.container .line-container .line {
  width: 50%;
  height: 100%;
  position: relative;
}

.line-container .line img {
  height: 310px;
  width: auto;
}

.line-container .line .col {
  position: absolute;
  top: 25px;
  left: -70px;
  transform: rotate(270deg);
  color: #ddd;
}
.line-container .line .line-click {
  position: absolute;
  bottom: -5px;
  left: -50px;
  height: 65px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.line-container .line .line-click span {
  color: #ddd;
  font-size: 30px;
}

.container .small-line-container {
  width: 100%;
  height: 100%;
}
.container .bottom-side .small-line-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.small-line-container .line.small {
  width: 60%;
  height: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.small-line-container .line .col {
  color: #ddd;
  width: 100px;
  margin-right: 50px;
}
.small-line-container .line .line-click {
  display: flex;
  width: 100%;
  justify-content: space-between;
  cursor: pointer;
}
