@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap");

/* :root {

} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 500;
}

body {
  font-family: "Playfair Display", serif;
  width: 100%;
  height: 900px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.catalogue-image {
  position: absolute;
  z-index: -100;
}

h2,
h3 {
  font-weight: 600;
}

/* corner line */
.corner {
  width: 250px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.2);
  /* background-color: rgba(95, 158, 160, 0.2); */
  position: absolute;
}
.corner.top {
  top: 5%;
}
.corner.left {
  left: 5%;
}
.corner.bottom {
  bottom: 5%;
}
.corner.right {
  right: 5%;
}

.logo {
  position: absolute;
  top: 5%;
}

/* Nav */
.navigation {
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.navigation .links {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* 순서 바뀌면 또 결과가 달라지네? */
  transform: translateY(5%) rotate(270deg);
}

.navigation .links li {
  list-style-type: none;
  margin-right: 40px;
}
.navigation .links li a {
  text-decoration: underline;
  color: black;
  font-size: 13px;
  font-weight: 600;
}
.link-corner {
  width: 150px;
  height: 1px;
  background-color: black;
  /* transform: translateY(500%); */
}

/* Container */
.container {
  width: 80%;
  height: 650px;
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  /* center 맞춰도 왼쪽으로 좀 치우쳐져있는 것 같아서 옮김 */
  transform: translateX(5%);
  /*지워야함 */
  /* border: 3px solid brown; */
}

.container .top-side,
.container .bottom-side {
  width: 100%;
  height: 50%;
  display: flex;
}

.container .bottom-side {
  flex-direction: row-reverse;
}

/* Big Line container */
.container .line-container {
  width: 50%;
  height: 100%;
  display: flex;
}

.container .line-container .line {
  width: 50%;
  height: 100%;
  position: relative;
}

.line-container .line img {
  height: 310px;
  width: auto;
}

.line-container .line .col {
  position: absolute;
  top: 25px;
  left: -70px;
  transform: rotate(270deg);
  color: #aaa;
}
.line-container .line .line-click {
  position: absolute;
  bottom: -5px;
  left: -50px;
  height: 65px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.line-container .line .line-click span {
  color: #aaa;
  font-size: 30px;
}
.line-click a {
  text-decoration: none;
  color: black;
}

/* Small Line container */
.container .small-line-container {
  width: 50%;
  height: 100%;
}
.container .bottom-side .small-line-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.small-line-container .line.small {
  width: 60%;
  height: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.small-line-container .line .col {
  color: #aaa;
  width: 100px;
  margin-right: 50px;
}
.small-line-container .line .line-click {
  display: flex;
  width: 100%;
  justify-content: space-between;
  cursor: pointer;
}
.small-line-container .line .line-click h3 {
  font-size: 15px;
  font-weight: 600;
}
.small-line-container .line .line-click span {
  color: #aaa;
  font-size: 17px;
  font-weight: 600;
}

@media (max-width: 1600px) {
  .catalogue-image {
    width: 900px;
    height: auto;
  }

  /* top side */

  /* Big Line container */
  .container .line-container {
    width: 200%;
  }

  /* small line */
  .container .small-line-container {
    width: 150%;
  }

  .small-line-container .line.small {
    width: 75%;
  }
  .small-line-container .line .col {
    width: 150px;
    margin-right: 25px;
  }
  .small-line-container .line .line-click {
    justify-content: space-between;
  }
  .small-line-container .line .line-click h3 {
    font-size: 13px;
  }
  .small-line-container .line .line-click span {
    font-size: 15px;
  }
}

@media (max-width: 1200px) {
  .catalogue-image {
    width: 500px;
    height: auto;
  }

  .container {
    justify-content: space-between;
  }

  .container .top-side,
  .container .bottom-side {
    flex-direction: column;
    height: 45%;
  }

  /* Big Line container */
  .container .line-container {
    height: 100%;
  }

  .container .line-container .line {
    width: 30%;
  }

  .line-container .line img {
    height: 200px;
    width: auto;
  }

  .line-container .line .col {
    font-size: 20px;
    top: 35px;
    left: 150px;
    transform: rotate(0);
  }
  .line-container .line .line-click {
    bottom: 30px;
    left: 150px;
  }

  /* Small Line container */
  .container .small-line-container {
    width: 700px;
    height: 50%;
  }
  .container .small-line-container,
  .container .bottom-side .small-line-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .small-line-container .line.small {
    width: 250px;
    height: 25px;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .small-line-container .line .line-click {
    width: 150px;
    justify-content: flex-start;
  }
  .small-line-container .line .line-click h3 {
    font-size: 17px;
    margin-right: 10px;
  }
  .small-line-container .line .line-click span {
    font-size: 20px;
  }
}
